/* stylesheet for navigation & menu */

/* collapsed hamburger styling */
.navbar-toggler {
	border-style: none; 
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
	border: none;
    box-shadow: none;
}

/* Nayeon Kim styling */
.nav-logo {
	color: #000;
    font-size: 1.5em; /*1.5x parent font size*/
    font-weight: bold;
}

/* Nav links styling */
.navbar a,
.navbar a:link,
.navbar a:visited {
	text-decoration: none;
    color: #000; /* Maintain font color after visit */
}